<div class="conteiner">
    <div class="logo">
        <img src="../../../assets/Logo.png" id="logo">
    </div>
    <div class="redes">
        <div>
            <a href="https://www.instagram.com/francoarmilio/" target="_blank"><i class="fa-brands fa-instagram fa-3x" id="instagram"></i></a>
            <a href="https://www.facebook.com/franco.armilio" target="_blank"><i class="fa-brands fa-facebook fa-3x" id="facebook"></i></a>
            <a href="https://twitter.com/FrancoArmilio" target="_blank"><i class="fa-brands fa-twitter fa-3x" id="twitter"></i></a>
            <a href="https://github.com/Franco941/ProyectoIntegrador" target="_blank"><i class="fa-brands fa-github fa-3x" id="github"></i></a>
            <a href="https://www.linkedin.com/in/franco-armilio-568443240/" target="_blank"><i class="fa-brands fa-linkedin fa-3x" id="linkedin"></i></a>
        </div>
    </div>
</div>