 <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/Logo.png" id="logo">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/Instagram.png" id="Instagram"></a>
                <a href=""><img src="../../../assets/Facebook.png" id="Facebook"></a>
                <a href=""><img src="../../../assets/Twitter.png" id="Twitter"></a>
                <a href=""><img src="../../../assets/Github Logo.png" id="Github"></a>
                <a href=""><img src="../../../assets/Linkedin.png" id="Linkedin"></a>
                <button type="button" class="btn btn-outline-dark">Ingreso</button>
            </div>
        </div>
    </div>


