<div class="row g-0">
    <h1>Hards & Soft Skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="95"
        [radius]="100"
        [imageSrc]="'../assets/HtmlLogo.png'"
        [showImage]="true"
        [imageHeight]="105"
        [imageWidth]="105"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'HTML'"
        [titleColor]="'purple'"
        [titleFontSize]="'30px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/CssLogo.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'CSS'"
        [titleColor]="'purple'"
        [titleFontSize]="'30px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="93"
        [radius]="100"
        [imageSrc]="'../assets/JsLogo.png'"
        [showImage]="true"
        [imageHeight]="120"
        [imageWidth]="120"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'JavaScript'"
        [titleColor]="'purple'"
        [titleFontSize]="'30px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="82"
        [radius]="100"
        [imageSrc]="'../assets/AngularLogo.png'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Angular'"
        [titleColor]="'purple'"
        [titleFontSize]="'30px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="87"
        [radius]="100"
        [imageSrc]="'../assets/JavaLogo.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Java'"
        [titleColor]="'purple'"
        [titleFontSize]="'30px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/SqlLogo.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'SQL'"
        [titleColor]="'purple'"
        [titleFontSize]="'30px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>

</div>
