<div class="row g-0" *ngIf="usuario">
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <img src={{usuario.fotoPerfil}} class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <p id="nombre"> {{usuario.nombre}} {{usuario.apellido}} </p>
            <p> {{usuario.titulo}}</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>{{usuario.descripcion}}

            </p>
        </span>
    </div>

    </div>

