.row {
    padding: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.btn {
    margin-top: 20px;
    border-radius: 50px;
}

#nombres {
    text-align: center;
    padding-top: 40%;
}

#fotodeperfil {
    border-radius: 170px;
}

.container {
    width: auto;
}

div {
    background-color: black;
    text-align: center;
}

.container {
    width: auto;
}

.fa {
    display: inline-block;
    text-align: justify;
}

.parte1,
.parte2 {
    display: inline-block;
    text-align: justify;
}