.row {
    background-color: #161616;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

h1 {
    padding-left: 128px !important;
}

.btn {
    margin-left: 10px;
    border-radius: 50px;
}

.parte1 {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

#foto {
    width: 200px;
    height: 200px;
}