<div class="row g-0">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem eaque aliquid mollitia eius in, animi, quos voluptatum eligendi commodi nihil dolore, quia consequuntur quam tenetur amet quidem ipsam. Ratione, saepe.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Gengar.png" class="img-fluid img-proyecto">

        </div>
    </div>
</div>
