.row {
    background-color: #161616;
}

h1 {
    padding-left: 120px !important;
}

.btn {
    margin-left: 10px;
    border-radius: 50px;
}

div {
    background: #161616;
}

.parte1 {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}


#foto {
    width: 200px;
    height: 200px;
}